img{
  border-radius: 20%;
  height: 150px;
  width: 150px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  border: 2px solid white;

  margin: 10px;
}
.name{
  display: flex;
  justify-content: space-evenly;
  background: rgba(0,0,0,0.5);
  border: 2px solid white;
  border-radius: 40px;
  margin: 5px;
}
table{
    background: rgba(0,0,0,0.5);
    border: 2px solid white;
    border-radius: 40px;
}
.t{
  display: flex;
  justify-content: space-evenly;
}
.main{
  background:url("https://i.pinimg.com/736x/52/53/cf/5253cf935d176074e92fc1eb8ae9c30a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-size: 85px;
  font-style: italic;
  font-stretch: semi-expanded;
  font-variant: small-caps;
  font-kerning: normal;
  color:white;
}
h2{
  font-style: italic;
  font-stretch: semi-expanded;
  font-variant: small-caps;
  font-kerning: normal;
  color:white;
}
